* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #f6f8fc;
  color: #333;
  padding-bottom: 3rem;
}

h1 {
  font-size: 2.5rem;
  color: #24292e;
  font-weight: 800;
  letter-spacing: -0.5px;
}
